<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<!-- Robots: selalu index dan follow -->
<meta name="robots" content="index, follow">

<!-- Publisher: hardcoded Akazed.com -->
<meta name="publisher" content="Akazed.com">

<!-- Author: hardcoded Akazed -->
<meta name="author" content="Akazed">
{{- $keywords := .Params.keywords | default (slice .Title) -}}
<meta name="keywords" content="{{ delimit $keywords ", " }}">
<meta name="google-adsense-account" content="ca-pub-6036873897720429">
<meta name="msvalidate.01" content="F811999D33E8DBD02081B6FEC68E250B" />

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>
{{ with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}


{{ if eq .Kind "page" }}
{{- $json := printf `{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "%s"
  },
  "headline": "%s",
  "image": ["%s"],
  "datePublished": "%s",
  "dateModified": "%s",
  "author": {
    "@type": "Person",
    "name": "%s",
    "url": "https://akazed.com/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "%s",
    "logo": {
      "@type": "ImageObject",
      "url": "https://akazed.com/img/akazed_hu5275fa5222c3dc8beed2db97f95ceac6_28190_300x0_resize_q75_h2_box_2.webp"
    }
  },
  "description": "%s"
}` 
  .Permalink
  (.Title | htmlEscape)
  (cond (isset .Params "featured_image") (.Params.featured_image | absURL) "https://akazed.com/about/images/default_hudc08dd0da780a7732532b269d66578bd_24598_1024x0_resize_q75_h2_box_2.webp")
  (.Date.Format "2006-01-02T15:04:05Z07:00")
  (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  (.Params.author | default "Nanda")
  .Site.Title
  (.Params.description | htmlEscape)
-}}

<script type="application/ld+json">
{{ $json | safeHTML }}
</script>
{{ end }}