{{/* Mengirimkan objek halaman (.) langsung ke dalam dict dengan kunci "Context" */}}
{{ $image := partialCached "helper/image" (dict "Context" . "Type" .Type) .RelPermalink .Type }}
<article class="{{ if $image.exists }}has-image{{ end }}">
    <a href="{{ .RelPermalink }}">
        
        {{ if $image.exists }}
            <div class="article-image">
                {{ if $image.resource }}
                    {{- $imageRaw := $image.resource | resources.Fingerprint "md5" -}}
                    {{- $Permalink := $imageRaw.RelPermalink -}}
                    {{- $Width := $imageRaw.Width -}}
                    {{- $Height := $imageRaw.Height -}}

                    {{- if .Site.Params.imageProcessing.cover.enabled -}}
                        {{- with .Site.Params.imageProcessing.cover.size -}}
                            {{- $thumbnail := $imageRaw.Fill . -}}
                            {{- $Permalink = $thumbnail.RelPermalink -}}
                            {{- $Width = $thumbnail.Width -}}
                            {{- $Height = $thumbnail.Height -}}
                        {{- end -}}
                    {{- end -}}
                    
                    <img src="{{ $Permalink }}" 
                         width="{{ $Width }}" 
                         height="{{ $Height }}" 
                         loading="lazy"
                         alt="Featured image of post {{ .Title }}"
                         {{ with .Slug }}data-key="{{ . }}"{{ end }}
                         data-hash="{{ $imageRaw.Data.Integrity }}">
                {{ else }}
                    <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .Slug }}" data-hash="{{ $image.permalink }}"/>
                {{ end }}
            </div>
        {{ end }}

        <div class="article-details">
            <h2 class="article-title">
                {{- .Title -}}
            </h2>
        </div>
    </a>
</article>